In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
data = pd.read_csv("final_week2_dataset.csv")

In [3]:
data.drop('Unnamed: 0', axis =1, inplace = True)

In [4]:
data.isna().sum()
data

,Transaction ID,Customer ID,Payment_Mode,Gender,Age,Income (USD/Month),Date of Travel,Company,City,KM Travelled,Price Charged,Cost of Trip,Population,Users,Year,Month,Day,Profit,users per
0,10000011,29290,Card,Male,28,10813,2016-01-08,Pink Cab,ATLANTA GA,30.45,370.95,313.6350,814885,24701,2016,1,8,57.3150,3.031225
1,10351127,29290,Cash,Male,28,10813,2018-07-21,Yellow Cab,ATLANTA GA,26.19,598.70,317.4228,814885,24701,2018,7,21,281.2772,3.031225
2,10412921,29290,Card,Male,28,10813,2018-11-23,Yellow Cab,ATLANTA GA,42.55,792.05,597.4020,814885,24701,2018,11,23,194.6480,3.031225
3,10000012,27703,Card,Male,27,9237,2016-01-06,Pink Cab,ATLANTA GA,28.62,358.52,334.8540,814885,24701,2016,1,6,23.6660,3.031225
4,10320494,27703,Card,Male,27,9237,2018-04-21,Yellow Cab,ATLANTA GA,36.38,721.10,467.1192,814885,24701,2018,4,21,253.9808,3.031225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359387,10307228,51406,Cash,Female,29,6829,2018-03-03,Yellow Cab,WASHINGTON DC,38.40,668.93,525.3120,418859,127001,2018,3,3,143.6180,30.320705
359388,10319775,51406,Cash,Female,29,6829,2018-04-13,Yellow Cab,WASHINGTON DC,3.57,67.60,44.5536,418859,127001,2018,4,13,23.0464,30.320705
359389,10347676,51406,Card,Female,29,6829,2018-07-06,Yellow Cab,WASHINGTON DC,23.46,331.97,337.8240,418859,127001,2018,7,6,-5.8540,30.320705
359390,10358624,51406,Cash,Female,29,6829,2018-08-02,Yellow Cab,WASHINGTON DC,27.60,358.23,364.3200,418859,127001,2018,8,2,-6.0900,30.320705
359391,10370709,51406,Card,Female,29,6829,2018-08-30,Yellow Cab,WASHINGTON DC,34.24,453.11,427.3152,418859,127001,2018,8,30,25.7948,30.320705

In [5]:
from sklearn.model_selection import *
from sklearn.linear_model import *
from sklearn.metrics import *

In [6]:
X = data.drop(['Price Charged'], axis =1)

In [7]:
y = data['Price Charged']

In [8]:
X

,Transaction ID,Customer ID,Payment_Mode,Gender,Age,Income (USD/Month),Date of Travel,Company,City,KM Travelled,Cost of Trip,Population,Users,Year,Month,Day,Profit,users per
0,10000011,29290,Card,Male,28,10813,2016-01-08,Pink Cab,ATLANTA GA,30.45,313.6350,814885,24701,2016,1,8,57.3150,3.031225
1,10351127,29290,Cash,Male,28,10813,2018-07-21,Yellow Cab,ATLANTA GA,26.19,317.4228,814885,24701,2018,7,21,281.2772,3.031225
2,10412921,29290,Card,Male,28,10813,2018-11-23,Yellow Cab,ATLANTA GA,42.55,597.4020,814885,24701,2018,11,23,194.6480,3.031225
3,10000012,27703,Card,Male,27,9237,2016-01-06,Pink Cab,ATLANTA GA,28.62,334.8540,814885,24701,2016,1,6,23.6660,3.031225
4,10320494,27703,Card,Male,27,9237,2018-04-21,Yellow Cab,ATLANTA GA,36.38,467.1192,814885,24701,2018,4,21,253.9808,3.031225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359387,10307228,51406,Cash,Female,29,6829,2018-03-03,Yellow Cab,WASHINGTON DC,38.40,525.3120,418859,127001,2018,3,3,143.6180,30.320705
359388,10319775,51406,Cash,Female,29,6829,2018-04-13,Yellow Cab,WASHINGTON DC,3.57,44.5536,418859,127001,2018,4,13,23.0464,30.320705
359389,10347676,51406,Card,Female,29,6829,2018-07-06,Yellow Cab,WASHINGTON DC,23.46,337.8240,418859,127001,2018,7,6,-5.8540,30.320705
359390,10358624,51406,Cash,Female,29,6829,2018-08-02,Yellow Cab,WASHINGTON DC,27.60,364.3200,418859,127001,2018,8,2,-6.0900,30.320705
359391,10370709,51406,Card,Female,29,6829,2018-08-30,Yellow Cab,WASHINGTON DC,34.24,427.3152,418859,127001,2018,8,30,25.7948,30.320705

In [9]:
y

0         370.95
1         598.70
2         792.05
3         358.52
4         721.10
           ...
359387    668.93
359388     67.60
359389    331.97
359390    358.23
359391    453.11
Name: Price Charged, Length: 359392, dtype: float64

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [11]:
numerical_features = X_train.select_dtypes(exclude='object')
categorical_features = X_train.select_dtypes(include='object')

In [12]:
numerical_features

,Transaction ID,Customer ID,Age,Income (USD/Month),KM Travelled,Cost of Trip,Population,Users,Year,Month,Day,Profit,users per
109591,10434714,30017,24,27115,21.85,291.0420,754233,12421,2018,12,29,180.4480,1.646839
246569,10287141,1343,31,27366,40.40,484.8000,8405837,302149,2017,12,30,479.1400,3.594514
32094,10437718,57974,60,14705,8.40,110.8800,248968,80021,2018,1,5,33.6900,32.141078
168129,10266622,2302,65,24340,12.74,145.2360,8405837,302149,2017,11,26,105.5940,3.594514
297185,10325857,18381,33,20540,14.56,209.6640,959307,69995,2018,5,3,63.7460,7.296413
...,...,...,...,...,...,...,...,...,...,...,...,...,...
334978,10346037,52658,29,13051,35.64,392.0400,418859,127001,2018,7,4,49.3700,30.320705
216068,10277971,1269,57,20905,11.50,146.2800,8405837,302149,2017,12,14,119.2300,3.594514
43121,10116343,5822,41,3032,44.84,484.2720,1955130,164468,2016,12,9,43.5280,8.412126
34713,10400859,58877,37,24822,28.28,363.1152,248968,80021,2018,11,2,116.0648,32.141078
220414,10404075,1954,41,9165,2.88,31.1040,8405837,302149,2018,11,7,13.3860,3.594514

In [13]:
categorical_features

       Payment_Mode  Gender Date of Travel     Company           City
109591         Card    Male     2018-12-29  Yellow Cab      DENVER CO
246569         Card  Female     2017-12-30  Yellow Cab    NEW YORK NY
32094          Cash    Male     2018-01-05  Yellow Cab      BOSTON MA
168129         Cash    Male     2017-11-26    Pink Cab    NEW YORK NY
297185         Card    Male     2018-05-03  Yellow Cab   SAN DIEGO CA
...             ...     ...            ...         ...            ...
334978         Card    Male     2018-07-04    Pink Cab  WASHINGTON DC
216068         Cash    Male     2017-12-14  Yellow Cab    NEW YORK NY
43121          Card    Male     2016-12-09    Pink Cab     CHICAGO IL
34713          Cash    Male     2018-11-02  Yellow Cab      BOSTON MA
220414         Cash    Male     2018-11-07    Pink Cab    NEW YORK NY

[287513 rows x 5 columns]

In [44]:
X_test.drop(['Date of Travel'], axis=1, inplace=True)

In [33]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler

preprocessor = ColumnTransformer(
    transformers=[
        ('col_tnf', OneHotEncoder(sparse=False, drop='first', handle_unknown='ignore'),categorical_features.columns),
        ('num_tnf', MinMaxScaler(feature_range=(0,1)), numerical_features.columns)
    ],
    remainder='passthrough'
)

In [34]:
preprocessor

ColumnTransformer(remainder='passthrough',
                  transformers=[('col_tnf',
                                 OneHotEncoder(drop='first',
                                               handle_unknown='ignore',
                                               sparse=False),
                                 Index(['Payment_Mode', 'Gender', 'Company', 'City'], dtype='object')),
                                ('num_tnf', MinMaxScaler(),
                                 Index(['Transaction ID', 'Customer ID', 'Age', 'Income (USD/Month)',
       'KM Travelled', 'Population', 'Month', 'Day', 'Profit', 'users per'],
      dtype='object'))])

In [35]:
X_test

,Transaction ID,Customer ID,Payment_Mode,Gender,Age,Income (USD/Month),Date of Travel,Company,City,KM Travelled,Population,Month,Day,Profit,users per
13730,10219430,58258,Card,Male,36,5178,2017-09-09,Yellow Cab,BOSTON MA,2.00,248968,9,9,11.0200,32.141078
18274,10407577,59104,Cash,Female,50,21052,2018-11-16,Pink Cab,BOSTON MA,32.34,248968,11,16,78.1720,32.141078
127859,10016554,8578,Cash,Male,35,18788,2016-03-13,Pink Cab,LOS ANGELES CA,18.00,1595037,3,13,64.0500,9.036279
347582,10388114,51701,Cash,Male,27,29437,2018-10-06,Yellow Cab,WASHINGTON DC,5.95,418859,10,6,22.3440,30.320705
211654,10180576,809,Card,Male,28,19534,2017-05-30,Yellow Cab,NEW YORK NY,7.77,8405837,5,30,173.9328,3.594514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289068,10166523,20916,Cash,Female,28,24088,2017-04-18,Yellow Cab,SAN DIEGO CA,25.20,959307,4,18,132.2740,7.296413
35101,10189611,57245,Cash,Female,19,15812,2017-06-30,Yellow Cab,BOSTON MA,12.76,248968,6,30,37.5280,32.141078
116587,10302473,6042,Card,Male,23,17950,2018-02-16,Yellow Cab,LOS ANGELES CA,16.80,1595037,2,16,129.4640,9.036279
177550,10205834,275,Card,Male,45,15295,2017-08-06,Pink Cab,NEW YORK NY,42.12,8405837,8,6,119.6700,3.594514
195765,10369980,907,Card,Female,39,15759,2018-08-31,Yellow Cab,NEW YORK NY,24.24,8405837,8,31,186.2596,3.594514

In [36]:
def correlation(dataset, threshold):
    col_corr = set()  # Set of all the names of correlated columns
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i, j]) > threshold: # we are interested in absolute coeff value
                colname = corr_matrix.columns[i]  # getting the name of column
                col_corr.add(colname)
    return col_corr

In [37]:
corr_features = correlation(numerical_features, 0.85)

In [38]:
corr_features

set()

In [39]:
numerical_features.drop(corr_features, axis=1, inplace=True)

In [23]:
# step2 = GradientBoostingRegressor(
#     n_estimators=100,  # Number of boosting stages to be used
#     learning_rate=0.1,  # Step size at each iteration
#     max_depth=3,  # Maximum depth of the individual regression estimators
#     random_state=42  # Random seed for reproducibility
# )a

In [ ]:
from matplotlib import pyplot as plt
plt.figure(figsize=(20,10))
sns.lineplot(data = diff)

In [ ]:
sns.regplot(data = diff,x= 'Actual', y='Predicted')

In [ ]:
print('r2 score is:', r2_score(y_pred, y_test))

In [40]:
def evaluate_model(model, X_train, y_train, X_test, y_test):
 
        pipe = Pipeline([
            ('Transform', preprocessor),
            ('model', model),
        ])
        
        pipe.fit(X_train, y_train)
        y_pred = pipe.predict(X_test)
        r2 = r2_score(y_test, y_pred)
        return r2

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, PoissonRegressor
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

from sklearn.ensemble import (
    RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor,
    BaggingRegressor, ExtraTreesRegressor
)
from sklearn.svm import SVR
models = {
    'Linear Regression': LinearRegression(),
    'Poisson Regressor': PoissonRegressor(),
#     'Random Forest Regressor': RandomForestRegressor(max_depth=2, random_state=0),



    
}

In [49]:
for model_name, model in models.items():
    r2 = evaluate_model(model, X_train, y_train, X_test, y_test)
    print(f'R2 Score for {model_name}: {r2:.4f}')

C:\Users\97798\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

R2 Score for Linear Regression: 0.9940

C:\Users\97798\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

R2 Score for Poisson Regressor: 0.9190

C:\Users\97798\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

R2 Score for Random Forest Regressor: 0.8002

Select Linear Regression as our model

In [56]:
step2 = LinearRegression(
   
)

preprocessor = ColumnTransformer(
    transformers=[
        ('col_tnf', OneHotEncoder(sparse=False, drop='first', handle_unknown='ignore'),categorical_features.columns),
        ('num_tnf', MinMaxScaler(feature_range=(0,1)), numerical_features.columns)
    ],
    remainder='passthrough'
)

In [57]:
pipe

Pipeline(steps=[('Transform',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('col_tnf',
                                                  OneHotEncoder(drop='first',
                                                                handle_unknown='ignore',
                                                                sparse=False),
                                                  Index(['Payment_Mode', 'Gender', 'Company', 'City'], dtype='object')),
                                                 ('num_tnf', MinMaxScaler(),
                                                  Index(['Transaction ID', 'Customer ID', 'Age', 'Income (USD/Month)',
       'KM Travelled', 'Population', 'Month', 'Day', 'Profit', 'users per'],
      dtype='object'))])),
                ('model', LinearRegression())])

In [58]:
pipe.fit(X_train, y_train)

C:\Users\97798\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('Transform',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('col_tnf',
                                                  OneHotEncoder(drop='first',
                                                                handle_unknown='ignore',
                                                                sparse=False),
                                                  Index(['Payment_Mode', 'Gender', 'Company', 'City'], dtype='object')),
                                                 ('num_tnf', MinMaxScaler(),
                                                  Index(['Transaction ID', 'Customer ID', 'Age', 'Income (USD/Month)',
       'KM Travelled', 'Population', 'Month', 'Day', 'Profit', 'users per'],
      dtype='object'))])),
                ('model', LinearRegression())])

In [60]:
y_pred = pipe.predict(X_test)
r2 = r2_score(y_test, y_pred)
r2

0.9940271074641416